
.container-login{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display:flex;
    opacity: 0;
    pointer-events: none;
}
.form-login{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%; 
    background-color: white;
    border-radius: 10px;
    padding: 3em 2.5em;
    display:grid;
    gap: 1em;
    place-items:center;
    grid-auto-columns: 100%;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
}
